@media (max-width: 400px) {
  section {
  }
}

div {
}

@media (max-width: 350px) {
  div {
    width: auto;
  }
}

@media (max-width: 400px) {
  p {
    width: 200PX;
  }
}

@media (max-width: 400px) {
  section {
    height: 600PX;
    margin-bottom: -356px;
    padding-bottom: 160px;
  }
}

