@media (min-width: 400px) {
  #s3 {
    padding-top: 148px;
  }
}

@media (max-width: 500px) {
  #HomeOnaLogo {
    width: 0PX;
  }
}

@media (max-width: 500px) {
  #aboutUs {
    width: 533PX;
    height: 281.5px;
    margin-left: -7px;
    margin-right: -306px;
  }
}

